:root{
  --cor-letras-padrao: #2c2c2c
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    color: rgb(74, 67, 67);
    line-height: 1.6;
  }
  