.header {
  width: 100%;
  padding: 16px 24px;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logoImage {
  height: 50px;
  width: auto;
  margin-right: 10px;
  object-fit: contain;
}

.logoText h1 {
  font-size: 1.6rem;
  margin: 0;
  font-weight: 700;
  color: rgb(119, 119, 115); 
  line-height: 1.2;
}

.logoText span {
  font-size: 0.85rem;
  font-weight: 500;
  color: #121212;
  display: block;
}


.whatsapp {
  background-color: #25D366;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s ease;
}

.whatsapp:hover {
  background-color: #1ebe57;
}

.icon {
  font-size: 18px;
}

@media (max-width: 768px) {

  .logo {
    height: 50px;
    max-width: 120px;
  }

  .container {
    flex-direction: column;
    gap: 15px;
  }

  .brand a {
    font-size: 20px;
  }

  .whatsapp {
    font-size: 15px;
    padding: 8px 16px;
  }
}
